
/* Which country are we in?
 * This configures which WiFi channels are permitted to be used.
 * This is an optional setting: If it is not defined,
 * it will default to CYW43_COUNTRY_WORLDWIDE. */
//#define WIFI_COUNTRY CYW43_COUNTRY_GERMANY

/* Which SSID should we connect to? */
#define WIFI_SSID "MyWiFi"

/* And what is the WiFi password? */
#define WIFI_PASSWORD "Password"

